a:link
{
color:black;
}

a:visited
{
color:black;
}

a:hover
{
color:blue;
}

a:active
{
color:darkblue;
}

body
{
width:920px;
}

pre
{
font-family:"Times New Roman", Times, serif;
}

.page
{
font-family:"Times New Roman", Times, serif;
position:relative;
margin:5px;
}

.header
{
text-align:center;
}

.topmenu
{
text-align:center;
}

.mycasecount
{
text-align:center;
}

.currentqueue
{
text-align:center;
}

.notes
{
text-align:center;
}

.currenthistory
{
text-align:center;
}

.rules
{
}

.selectuser
{
background:white;
position:absolute;
top:1px;
right:1px;
}

.selecteduser
{
font-weight:bold;
}

.onshiftcell
{
background:wheat;
}

.selectedusercell_queue
{
background:lightblue;
}

.selectedusercell
{
background:white;
}

.selecteduseronshiftcell
{
background:wheat;
}

.showdetails
{
text-align:right;
width:100%;
}

.table_currentqueue
{
border-collapse:collapse;
/*margin-left:10em;*/
}

.table_currentqueue_header
{
text-align:center;
width:10em;
}

.table_currentqueue_cell
{
border:1px solid;
text-align:center;
width:10em;
}

.table_currenthistory
{
border-collapse:collapse;
}

.table_currenthistory_header
{
text-align:center;
width:10em;
}

.table_currenthistory_row
{
border:1px solid;
}

.table_currenthistory_cell
{
padding-left:2px;
border:1px solid;
text-align:left;
width:10em;
}

.table_mycasecount
{
border-collapse:collapse;
}

.table_mycasecount_header
{
text-align:center;
width:10em;
}

.table_mycasecount_cell
{
border:1px solid;
text-align:center;
width:10em;
}

.table_mycasecount_input
{
border:0px none;
width:10em;
text-align:center;
}

.table_mycasecount_regular
{
width:10em;
color:darkblue;
font-weight:bold;
text-align:right;
}

.table_mycasecount_catones
{
color:darkred;
font-weight:bold;
text-align:right;
}

.table_mycasecount_special
{
color:darkgreen;
font-weight:bold;
text-align:right;
}

.table_mycasecount_transfer
{
color:black;
font-weight:bold;
text-align:right;
}

.table_mycasecount_total
{
color:black;
font-weight:bold;
text-align:right;
}

.error
{
color:red;
font-weight:bold;
}

.warning
{
color:darkyellow;
font-weight:bold;
}

.success
{
color:green;
font-weight:bold;
}
