a:link
{
color:black;
}

a:visited
{
color:black;
}

a:hover
{
color:blue;
}

a:active
{
color:darkblue;
}

body
{
min-width:920px;
max-width:920px;
}

.header
{
text-align:center;
}

.topmenu
{
text-align:center;
}

.currentqueue
{
text-align:center;
}

.currenthistory
{
text-align:center;
}

.selectuser
{
background:white;
position:fixed;
top:5px;
right:5px;
}

.selecteduser
{
font-weight:bold;
}

.onshiftcell
{
background:wheat;
}

.selectedusercell
{
background:lightblue;
}

.showdetails
{
text-align:right;
width:100%;
}

.table_currentqueue
{
border-collapse:collapse;
position:relative;
left:150px;
}

.table_currentqueue_header
{
text-align:center;
width:150px;
}

.table_currentqueue_cell
{
border:1px solid;
text-align:center;
width:150px;
}

.table_currenthistory
{
border-collapse:collapse;
}

.table_currenthistory_header
{
text-align:center;
width:150px;
}

.table_currenthistory_row
{
border:1px solid;
}

.table_currenthistory_cell
{
padding-left:2px;
border:1px solid;
text-align:left;
width:120px;
}

.table_mycasecount
{
border-collapse:collapse;
}

.table_mycasecount_header
{
text-align:center;
width:150px;
}

.table_mycasecount_cell
{
border:1px solid;
text-align:center;
width:150px;
}

.table_mycasecount_input
{
border:0px none;
width:150px;
text-align:center;
}

.table_mycasecount_regular
{
color:darkblue;
font-weight:bold;
text-align:right;
}

.table_mycasecount_catones
{
color:darkred;
font-weight:bold;
text-align:right;
}

.table_mycasecount_special
{
color:darkgreen;
font-weight:bold;
text-align:right;
}

.table_mycasecount_transfer
{
color:black;
font-weight:bold;
text-align:right;
}

.table_mycasecount_total
{
color:black;
font-weight:bold;
text-align:right;
}

.error
{
color:red;
font-weight:bold;
}

.success
{
color:green;
font-weight:bold;
}
